.navIcon {
  display: inline-block;
  cursor: pointer;
  transition: transform 0.2s ease;
  &:hover {
    .navIcon__svg {
      path {
        fill: #22a0bc;
      }
    }

    transform: scale(1.1);
  }

  &.active,
  &:active {
    .navIcon__svg {
      path {
        fill: #595959;
      }
    }
  }

  &:focus-visible {
    outline: 2px solid #22a0bc;
    outline-offset: 2px;
  }

  @media (max-width: 768px) {
    .navIcon__svg {
      width: 12px !important;
      height: 48px !important;
    }
  }

  @media (min-width: 769px) {
    .navIcon__svg {
      width: 16px !important;
      height: 64px !important;
    }
  }
}
